<% var bookmarklets = params.bookmarklet; %>
<% // console.log('PARAMS: ' + JSON.stringify(bookmarklets, undefined, 2));  // DEBUG %>

<html>
  <head>
    <title>Bookmarkleter</title>
    <link rel="stylesheet" href="" type="text/css" />
  </head>
  
  <body>

    <h1>Bookmarklets</h1>

    <% var keys = Object.keys(bookmarklets); %>
    <% for (var i = 0; i < keys.length; ++i) { %>
    <p><a href="javascript:<%= bookmarklets[keys[i]] %>"><%= keys[i] %></a></p>
    <% } %>

    <script type="text/javascript" src=""></script>
  </body>
</html>


